@charset "utf-8";
* {margin: 0; padding: 0;}
body {font: 14px "微软雅黑"/1.4;}
li {list-style: none;}
a {text-decoration: none; color: #fff;}
img {display: block; border: none;}
.clearfix :after {content: ''; display: block; clear: both;}
.fl {float: left;}
.fr {float: right;}
